

.introduce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #782221;
    font-family: "lato", sans-serif;
    color: #dbc2a4;
    text-align: center;
}

.introduce__fig{
    width: 150px;
    height: 150px;
    margin: 50px auto 20px;
}

.introduce__img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 7px #dbc2a4;
}

.introduce__img{
    cursor: zoom-in;
}

.introduce__name{

    margin: 10px 0;
    text-transform: uppercase;
    font-size: 2.6em;
}

.introduce__job{
    margin: 10px 0 50px 0;
    font-size: 2em;
}